* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding: 0;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: c1ceb9;
  }
  
.container {
    max-width: 700px;
    text-align: center;
  }
.btn btn-success btn-lg px-4 me-md-2 fw-bold{
    text-align: center;
}