// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";
@import 'bootstrap-icons/font/bootstrap-icons.css';

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
    min-height: 100vh;
    min-height: -webkit-fill-available;

}


/* Styles required only for the example above */
.scrollspy-example-collapsible {
    position: relative;
    height: 200px;
    overflow: auto;
  }