// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";
@import 'bootstrap-icons/font/bootstrap-icons.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #333;
    padding: 1rem;
}

.logo {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}

.menu {
    list-style: none;
    float: right;
    color: #B9D9EB;
}

.menu li {
    display: inline;
}

.menu a {
    color: #fff;
    text-decoration: none;
    padding: 0 1rem;
}

.hero {
    background: #f4f4f4;
    padding: 2rem;
    text-align: center;
}

.tools {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2rem;
}

.tool {
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 30%;
    margin-bottom: 2rem;
    padding: 1rem;
}

.tool img {
    width: 100%;
    height: auto;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem


/* Padding below the footer and lighter body text */
html {
    overflow-y: scroll;
  }

:root {
    --banner-height: 64px;
  }

body.banner-offset {
    margin-top: calc(var(--bs-gutter-y) + var(--banner-height));
  }

  #sidebarMenu .nav-link.active {
    text-decoration: underline;
  }
  footer {
    h1, h2, h3, h4, h5, h6 {
      font-size: 80%;
    }
  }